# Node modules
node_modules/

# Build directories
build/
dist/
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/
bower_components/

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Mac system files
.DS_Store

# Editor/IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Coverage reports
coverage/

# Cache and lock files
.pnpm-store/
*.lock
.cache/

# Testing snapshots
*.snap

# Ant Design less files
ant-design-theme/

# Miscellaneous
*.log
*.bak
*.tmp

# ESLint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity
